p {
  font-family: Georgia;
  font-size: 20px;
  color: black;
}

div.chapter {
  font-family: Merriweather, serif;
  font-size: 30px;
  color: red;
  background-color: yellow;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

table tbody tr td {
  font-size: 14px;
  border: 1px solid black;
}

td {
  border: 1px solid black;

}

header, .row {
  display: flex;
}

.col {
  flex: 1;
}

p {
  white-space: pre-wrap;
}

.img-hover-zoom {
  height: 300px;
  overflow: visible;
}

.img-hover-zoom img {
  transition: transform .5s ease;
}

.img-hover-zoom:hover img {
  transform: scale(1.5);
}
